certifi==2016.2.28
cffi==1.10.0
colorama==0.3.9
cycler==0.10.0
decorator==4.1.2
ipykernel==4.6.1
ipython==6.2.1
ipython-genutils==0.2.0
jedi==0.11.0
jupyter-client==5.1.0
jupyter-core==4.4.0
matplotlib==2.1.0
numpy==1.13.1
olefile==0.44
parso==0.1.0
pickleshare==0.7.4
Pillow==4.3.0
prompt-toolkit==1.0.15
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.3
simplegeneric==0.8.1
six==1.11.0
torch==0.2.1+a4fc05a
torchvision==0.1.9
tornado==4.5.2
traitlets==4.3.2
wcwidth==0.1.7
wincertstore==0.2
